<%- include('includes/_header') %>
<%- include('includes/_sidebar') %>
<div class="col-8 ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-5 mb-5 text-light fs-1"> <strong>Biblioteca XP3</strong></div>
            
        </div>
    </div>
    <div class="container">
        <input name="fsrch" id="fsrch" placeholder="Search W3Schools">
    </div>
    <div class="vstack gap-3" id="main_container">  
        <% for (let cancion of canciones){ %>
            <div class="container">
                <div class="card border-info mb-3 songsLibrary">
                    
                    <div class="card-header">
                        <div class="row">
                            
                            <% for (let privilegio of privilegios) { %>
                                <% if(privilegio.nombre=="editar cancion" ) { %>
                                    <div class="col-10 justify-content-start">
                                        <a href="/EliminarCancion/<%= cancion.id %>"
                                            class="material-icons link-info link-offset-3 link-underline-opacity-10">
                                            delete
                                        </a>
                                    </div>
                            
                                    <div class=" col-1 justify-content-end">
                                        <a href="/EditarCancion/<%= cancion.id %>"
                                            class="material-icons link-info link-offset-3 link-underline-opacity-10">
                                            edit
                                        </a>
                                    </div>
                                <% } else if (privilegio.nombre=="agregar cancion biblioteca" ) {%>
                                    <div class="col-8 justify-content-start">
                                        
                                    </div>
                                    <div class=" col-2 justify-content-end">
                                        <a href="/AgregarCancion/Playlist/<%= cancion.id %>"
                                        class="material-icons link-success link-offset-3 link-underline-opacity-10">
                                            playlist_add
                                        </a>
                                        
                                    </div>
                                    <div class=" col-1 justify-content-end">
                                        <a href="/AgregarCancion/Biblioteca/<%= cancion.id %>"
                                        class="material-icons link-success link-offset-3 link-underline-opacity-10">
                                            add
                                        </a>
                                    </div>
                                <% } } %>
                            
                        </div>
                    </div>
                    <div class="card-img-top text-center mt-3">
                        <img src="/uploads/<%=cancion.imagen%>" class="coverLibrary ">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= cancion.nombre %></h5>
                        <p class="card-text"><%= cancion.artista %></p>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div>
</div>
<script> 
    const buscar = document.getElementById('fsrch');
    buscar.onkeyup = () => {
        console.log(fsrch.value);
        fetch('/Library/buscar/' + fsrch.value, {
            method: 'GET'
        })
        .then( (result) => {
            return result.json();
        })
        .then( (data) => {
            const container = document.getElementById('main_container');
            for (cancion of data.canciones){
                console.log(data.cancion.artista);
                container.innerHTML = `
                                            <div class="container">
                                                <div class="card border-info mb-3 songsLibrary">
                                                    <div class="card-header">
                                                        ${cancion.nombre}
                                                        ${cancion.artista}
                                                        ${cancion.imagen}
                                                    </div>
                                                </div>
                                            </div>
                                        `
            
        }})
        .catch( (error) => {
            console.log(error);
        } );
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>